.target {
  border: dashed black;
  width: 100px;
  height: 100px;
  position: absolute;
}

.textarea-container{
  width: 100%;
  height: 100px;
}

textarea {
  width: 100%;
  height: 80%;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
  appearance: textfield;
}