<div class="menu">
  <button type="button" class="button clear" (click)="toolMenuService.clear()">Clear</button>
  <button type="button" class="button black" (click)="toolMenuService.colorSelection('black')">Black</button>
  <button type="button" class="button green" (click)="toolMenuService.colorSelection('green')">Green</button>
  <button type="button" class="button blue" (click)="toolMenuService.colorSelection('blue')">Blue</button>
  <button type="button" class="button red" (click)="toolMenuService.colorSelection('red')">Red</button>
  <button type="button" class="button yellow" (click)="toolMenuService.colorSelection('yellow')">Yellow</button>
  <button type="button" class="button text" disabled="true">Text</button>
  <button type="button" class="button image" disabled="true">Image</button>
  <button type="button" class="button save" disabled="true">Save</button>
</div>