.menu {

  background-color: #e0eaee;
  margin: 5px;
}

.button {
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 4px;
    cursor: pointer;
  }

.black {background-color: black; color: whitesmoke; }
.clear, .text, .save {background-color: whitesmoke; color: black; }
.green {background-color: green;} 
.blue {background-color: blue;} 
.red {background-color: red;}
.yellow {background-color: yellow;}


.base-button {
  font-size: 16px;
  border-radius: 5px;
  box-shadow: none;
  font: normal 16px 'Helvetica Neue',Helvetica,Arial;
  padding: 15px;
}
