.button {
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }

.black {background-color: black; color: whitesmoke; }
.green {background-color: green;} 
.blue {background-color: blue;} 
.red {background-color: red;}
.yellow {background-color: yellow;}